@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
	transform: translate(-50%, -50%) scale(1.1);
    filter: blur(15px);
}

.background-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
	flex-direction: column;
}

.rectangle {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #242424;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 0;
	margin: 10px;
}

.avatar {
	width: 220px;
	height: 220px;
	border-radius: 1000px;
	margin: 0;
}

.social-links-rectangle {
    display: flex;
    gap: -10px;
}

.nickname {
    font-family: "Roboto", sans-serif;
    color: white;
	margin: 0;
	margin-bottom: -10px;
}

.discord {
    font-family: "Roboto", sans-serif;
    color: white;
	margin: 0;
	font-weight: normal;
	margin-bottom: -10px;
	margin-top: -25px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}


.content {
    position: relative;
    z-index: 1;
}

@keyframes circle-animation {
    0% {
        top: 0;
        left: 0;
        transform: scale(0);
    }
    50% {
        top: 50%;
        left: 50%;
        transform: scale(1);
    }
    100% {
        top: 100%;
        left: 100%;
        transform: scale(0);
    }
}

.nickname {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 32px;
    height: 32px;
	transition: filter 0.2s ease-in-out;
    border-radius: 1000px;
}

.social-links img:hover {
  filter: blur(2px);
}

.spotifyplayer {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #242424;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  z-index: 0;
}

.spotifynow {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.spotifynow img {
  transform: scale(0.57);
  border-radius: 20px;
}
